name: CI

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: video-poker-cli-aarch64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: video-poker-cli-x86_64-linux-gnu
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build -r -p video-poker-cli 
    - name: Rename
      run: mv target/release/video-poker-cli target/release/video-poker-cli-${{ matrix.target }}
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.target }}
        path: target/release/video-poker-cli-${{ matrix.target }}
  build-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: video-poker-cli.exe
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build -r -p video-poker-cli 
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.target }}
        path: target/release/video-poker-cli.exe
  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: [build, build-windows]
    permissions:
      id-token: write     
      contents: write     
      attestations: write 
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: 'dist/**/*'
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/**/*
