name: Rust

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build-matrix:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: video-poker.exe
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: video-poker
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: video-poker

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build -r
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.target }}
        path: target/release/${{ matrix.artifact_name }}
